<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FileTypesWhitelist" value=".pdf/.exe/.crl/.doc/.docx/.xls/.xlsx/.zip"/>
    <add key="DirectoryToScan" value="@C:\Users\smith83\Downloads"/>
    <add key="PollingInterval" value="300000"/> <!--5 minutes-->
  </appSettings>
</configuration>